<div class="w-full bg-secondary border-0">
  <footer class="footer items-center px-6 py-4">
    <aside class="grid-flow-col items-center">
      <p class="text-white">©2025 <a class="link link-hover font-medium text-white hover:text-primary" href="#">Play<span class="text-accent">Dice</span></a></p>
    </aside>
    <nav class="text-base-content grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a class="link link-hover text-white hover:text-accent" href="#">License</a>
      <a class="link link-hover text-white hover:text-accent" href="#">Help</a>
      <a class="link link-hover text-white hover:text-accent" href="#">Contact</a>
      <a class="link link-hover text-white hover:text-accent" href="#">Policy</a>
    </nav>
  </footer>
</div>